{% extends "base.html" %}

{% load static %}

{%  block pageStyles %}
    <link rel="stylesheet" href="{% static 'myblogs/css/all-posts.css' %}"/>
    <link rel="stylesheet" href="{% static 'myblogs/css/post.css' %}"/>
{% endblock %}

{% block pageTitle %}
    {{ posts.title }} Page
{% endblock %}

{% block pageContent %}
    <section id="all-posts">
        <h2>WELCOME TO THOUGHTS LIBRARY</h2>
            <ul>
                {% for post in posts %}
                    {% include 'myblogs/includes/post.html'%}
                {% endfor %}
            </ul>
    </article>
{% endblock %}