{% extends "base.html" %}

{% load static %}

{% block pageTitle %} 
Create User Profile
{% endblock %}

{% block pageStyles %}
<link rel="stylesheet" href="{% static 'myblogs/css/profile.css' %}"/>
<link rel="stylesheet" href="{% static 'myblogs/css/all-posts.css' %}"/>
{% endblock %}

{% block pageContent %}
<div class="create-profile">
  <h3>User Profile Form</h3>
  <form method="POST" action="create-profile" name="create-profile" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      {% comment %} <input type="text" name="firstname" id="firstname" />
      <input type="text" name="lastname" id="lastname" />
      <input type="email" name="email" id="email" />
      <input type="file" name="image"/> {% endcomment %}
      <div class="profile-buttons">
        <button type="button">UPLOAD FILE</button>
        <button type="submit">SUBMIT</button>
      </div>
    </form>
</div>
{% endblock %}