{% extends "base.html" %}

{% load static %}

{% block pageTitle %} 
Create User Profile
{% endblock %}

{% block pageStyles %}
<link rel="stylesheet" href="{% static 'myblogs/css/profile.css' %}"/>
<link rel="stylesheet" href="{% static 'myblogs/css/all-posts.css' %}"/>
{% endblock %}

{% block pageContent %}
<div class="create-profile">
  <h3>User Profile Form</h3>
  <a href="{% url 'user-profile-list' %}">List of User Profiles</a>
  <form method="POST" action="create-profile" name="create-profile" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-control" {% if form.field.errors %} errors {% endif %}>
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <div class="profile-buttons">
        <button type="button">UPLOAD FILE</button>
        <button type="submit">SUBMIT</button>
      </div>
    </form>
</div>
  <form>
    <input type="file" />
    <button>Upload File</button>
  </form>
{% endblock %}