{% extends "base.html" %}

{% comment %} 
In the DTL based HTML files the file has to start with "extends" tag if it is the used in the file.
"extends" is the keyword in DTL which helps the DTL to identify the file extension named after it to use the skeleton template. 
{% endcomment %}

{% comment %} load is another keyword which tells the DTL to use the "static" code in the application. {% endcomment %}
{% load static %}

{%  block pageStyles %}
    <link rel="stylesheet" href="{% static 'myblogs/css/index.css' %}"/>
    {% comment %} <link rel="stylesheets" href="{% static 'myblogs/css/post.css'%}"/> {% endcomment %}
{% endblock %}

{% comment %} The dynamic code in the DTL based HTML templates can be written within {{}} which are retrieved from the view.py files. {% endcomment %}
{% block pageTitle %}
    {{ posts.title }} Page
{% endblock %}

{% block pageContent %}
    <section id="welcome">
        <header>
            <img src="{% static 'myblogs/images/blog-title-image.avif' %}" alt="my-photo"/>
            <h2>PROGRESSIVE THOUGHTS</h2>
        </header>
        <p>Blog Your Though, is a platform where you can create memories of your thoughts which can be random, creative etc which can represent your mood in terms of  writing.</p>
        <p>This can be related to any topic varying from food, travel, tech, love, humanity and anything which you like to save for later and comeback to experience your thoughts.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
            {% for post in posts %}
                <ul>
                    {% comment %} 
                        The include block will automtically have the access to the context of the respective view,
                        when the response is triggered targeting the view. The direct way of accessing is through . notation with
                        reference to the context keys from the views.
                    {% endcomment %}
                    {% include 'myblogs/includes/post.html'%}
                </ul>
            {% endfor %}
    </section>

    <section id="about-me">
        <p>Hello again, I was and am software developer and enthusiast who always has the passion to understand and learn new things in life and technology.</p>
        <p>I am an individual who make lot of mistakes through which I gain the strength to solve, motivate my self and acquire tailored skills.</p>
    </section>
{% endblock %}