{% extends 'base.html' %}

{% load static %}

{% block pageTitle %}
    {{ blog.title }} Page
{% endblock %}

{% block pageStyles %}
    <link rel="stylesheet" href="{% static 'myblogs/css/post-detail.css' %}"/>
{% endblock%}

{% block pageContent %}
    <section id="summary">
        <h2>{{blog.title}}</h2>
        <div>
            {% for tag in tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>

        <article>
            <img src="{{ blog.imageUrl.url }}" alt="{{blog.title}}"/>
            <address>By <a href="mailto:{{ blog.author.email }}">{{blog.author}}</a></address>
            <p>Last updated on <time>{{ blog.updatedOn }}</time></p>
        </article>
    </section>

    <main>
        <p>{{post.summary}}</p>
        <section class="review-button">
            <form action="{% url "posts-review-form" blog.slug %}">
                {% csrf_token %}
                <input type="hidden" name="review-form">
                <button type="submit">Write review</button>
            </form>
        </section>
    </main>

    <main>
        <h2>Reviews For This Blog</h2>
        {{blog.reviews.username}}
    </main>


{% endblock %}