{% extends 'base.html' %}

{% load static %}

{% block pageTitle %}
    {{ posts.title }} Page
{% endblock %}

{% block pageStyles %}
    <link rel="stylesheet" href="{% static 'myblogs/css/post-detail.css' %}"/>
{% endblock%}

{% block pageContent %}
    <section id="summary">
        <h2>{{posts.title}}</h2>
        <div>
            {% for tag in tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{% static 'myblogs/images/'%}{{posts.imageName}}" alt="{{posts.title}}"/>
            <address>By <a href="mailto:{{ posts.author.email }}">{{posts.author}}</a></address>
            <p>Last updated on <time>{{ posts.updatedOn }}</time></p>
        </article>
    </section>

    <main>
        <p>{{posts.summary}}</p>
        <section class="review-button">
            <button type="button" onclick="location.href='{% url 'posts-review-form' %}'">Write review</button>
        </section>
    </main>


{% endblock %}