{% extends 'base.html' %}

{% load static %}

{% block pageTitle %}
    {{ post.title }} Page
{% endblock %}

{% block pageStyles %}
    <link rel="stylesheet" href="{% static 'myblogs/css/post-detail.css' %}"/>
{% endblock%}

{% block pageContent %}
    <section id="summary">
        <h2>{{post.title}}</h2>
        <article>
            <img src="{% static 'myblogs/images/'%}{{post.imageName}}" alt="{{post.title}}"/>
            <address>By {{post.author}}</address>
            <p>Last updated on <time>{{post.updatedOn}}</time></p>
        </article>
    </section>

    <main>
        <p>{{post.summary}}</p>
    </main>

{% endblock %}