{% extends "base.html" %}

{% load static %}

{% block pageTitle %}
    Review Form
{% endblock %}

{% block pageStyles %}
    <link href="{% static 'myblogs/css/review-form.css' %}" rel="stylesheet"/>
{% endblock %}

{% block pageContent %}
{% comment %} 
    -    The method attribute on the form indicates what type of HTTP method has to be triggered when a form in submitted.
    -    Here, the POST method is set, which means the aim here is to triggred the database and store in user entered information to the database.
    -    action, attribute navigates the user to the resepctive url to continue the user actions in the application.
{% endcomment %}
    <div class="review-form">
        <h3>Write your review here</h3>
        <form method="POST" action="thank-you">
            {% csrf_token %}
            <label for="username">Your Name</label>
            <input type="text" name="username" id="username"/>
            <label for="review-data">Your Review</label>
            <textarea name="review-data" id="review-data" rows="10" columns="50"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}