{% extends "base.html" %}

{% load static %}

{% block pageTitle %}
    Review Form
{% endblock %}

{% block pageStyles %}
    <link href="{% static 'myblogs/css/review-form.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'myblogs/css/all-posts.css' %}"/>
{% endblock %}

{% block pageContent %}
{% comment %} 
    -    The method attribute on the form indicates what type of HTTP method has to be triggered when a form in submitted.
    -    Here, the POST method is set, which means the aim here is to triggred the database and store in user entered information to the database.
    -    action, attribute navigates the user to the resepctive url to continue the user actions in the application.
{% endcomment %}
    <div class="review-form">
        <h3>Review Form</h3>
        <form method="POST" action="{% url "thank-you" %}">
            {% csrf_token %}
            {% comment %} {{ form.as_div }} {% endcomment %}
            {% for field in form %}
                <div class="form-control" {% if form.field.errors %} errors {% endif %}>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">SUBMIT</button>
        </form>
    </div>
{% endblock %}