.user-profiles{
    display: flex;
    flex-direction: column;
    padding: 7rem 5rem;
    text-align: center;
}

.user-profiles-list{
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 60rem;
    margin: -6rem auto 2rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

.user-profiles-list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:2rem 20rem
}

.user-profiles-list li{
    list-style: none;
}

.user-profiles-list img{
    height:100px;
    width: 150px;
}