{% comment %} 
    This HTML file represents the skeleton for all the HTML files in the application.
    Django has a built in feature to represent the dynamic content with HTML using the templating engine which is DTL (Django Template Library).
    DTL is similar to any other templating library like PUG, EJS and handlebars.
    Within DTL there are multiple built in tags extensions which can make the work of the developers easy and more efficent.
    DTL also helps you to write iterative code in the HTML code using for loops and if else cases.
{% endcomment %}

{% comment %} 
    DTL - the code which you think is repetitive in your files can be wrapped in a "block" keyword and end this block with "endblock".
    These individual blocks has to be represented with identifiers (like name of the block) which is then used to refer it in other files.
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% block pageStyles %}
    {% endblock %}
</head>
<body> 
    {% block pageContent %}
    {% endblock %}
</body>
</html>