{% comment %} 
    This HTML file represents the skeleton for all the HTML files in the application.
    Django has a built in feature to represent the dynamic content with HTML using the templating engine which is DTL (Django Template Library).
    DTL is similar to any other templating library like PUG, EJS and handlebars.
    Within DTL there are multiple built in tags extensions which can make the work of the developers easy and more efficent.
    DTL also helps you to write iterative code in the HTML code using for loops and if else cases.
{% endcomment %}

{% comment %} 
    DTL - the code which you think is repetitive in your files can be wrapped in a "block" keyword and end this block with "endblock".
    These individual blocks has to be represented with identifiers (like name of the block) which is then used to refer it in other files.
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    {% block pageStyles %}
    {% endblock %}
</head>
<body> 
    {% comment %} 
    The header section has to be displayed on every page of the application, so instead of hard coding it in every template Page
    it is efficient to paste it here in the base.html file which can be part of the basic skeleton template of the application.
    {% endcomment %}
    <header id="main-navigation">
        {% comment %} <img src="{% %}" alt="app-title"/> {% endcomment %}
        <h3><a href="{% url 'landing-page' %}" >BLOG YOUR THOUGHT </a></h3>
        <nav>
            <a href="{% url 'all-posts' %}">ALL POSTS</a>
            <a href="{% url 'read-later' %}">READ LATER</a>
            <a href="{% url 'create-user-profile' %}">PROFILE</a>
        </nav>
    </header>
    {% block pageContent %}
    {% endblock %}
</body>
</html>